{% set navitems = [ { "name": "Known Bots", "url": siteUrl("/bots") }, { "name": "Submit Bot", "url": siteUrl("/submit") }, { "name": "Check User", "url": siteUrl("/check") }, { "name": "Types", "url": siteUrl("/types") }, { "name": "API", "url": siteUrl("/api") }, { "name": "About", "url": siteUrl("/about") } ] %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} - Twitch Bot Directory</title>

        <!-- Bootstrap -->
        <link href="{{ siteUrl("/assets/require.css") }}" rel="stylesheet" type="text/css">
        <script data-main="assets/main.js" src="{{ siteUrl("/assets/require.js") }}"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="icon" href="{{ siteUrl("favicon.png")|e('html_attr') }}" type="image/png" sizes="32x32">
        <link rel="icon" href="{{ siteUrl("img/favicon-16x16.png")|e('html_attr') }}" type="image/png" sizes="16x16">
        <link rel="icon" href="{{ siteUrl("img/android-chrome-144x144.png")|e('html_attr') }}" type="image/png" sizes="144x144">
        <link rel="apple-touch-icon" href="{{ siteUrl("img/apple-touch-icon.png")|e('html_attr') }}" type="image/png" sizes="152x152">
        <link rel="icon" href="{{ siteUrl("img/apple-touch-icon.png")|e('html_attr') }}" type="image/png" sizes="152x152">
        <link rel="icon" href="{{ siteUrl("img/icon.svg")|e('html_attr') }}" type="image/svg+xml" sizes="any">

        <link rel="mask-icon" href="{{ siteUrl("img/safari-pinned-tab.svg")|e('html_attr') }}" type="image/svg+xml" sizes="any" color="#F3D300">

        <meta name="msapplication-TileImage" content="{{ siteUrl("img/mstile-150x150.png")|e('html_attr') }}">
        <meta name="msapplication-TileColor" content="#9DA7EB">

        {% block extraresources %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ baseUrl()|e('html_attr') }}" rel="home">
                        <img src="{{ siteUrl('img/icon.svg') }}" alt="Twitch Bot Directory">
                    </a>
                </div>

                <div class="collapse navbar-collapse hidden-print" id="main-nav">
                    <ul class="nav navbar-nav">
                        {% set cu = currentUrl(false) %}
                        {% for item in navitems %}
                            {%- spaceless %}
                            {%- set isCurrent = item.url == cu or item.url ~ '/' == cu -%}
                                <li{% if isCurrent %} class="active"{% endif %}>
                                    <a href="{{ item.url|e('html_attr') }}">{{ item.name|e -}}
                                    {%- if isCurrent -%}
                                        <span class="sr-only">(current)</span>
                                    {%- endif %}</a>
                                </li>
                            {%- endspaceless %}
                        {%- endfor -%}
                    </ul>

                    <form class="navbar-form navbar-right" method="GET" action="{{ urlFor('check')|e('html_attr') }}">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" required pattern="[a-zA-Z0-9_]+" spellcheck="false" id="search" name="username" placeholder="Username">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">Check</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <main>
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                <p class="text-muted visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">This is an independent site not run by Twitch.</p>
                <nav class="visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block hidden-print">
                    <ul class="list-inline">
                        <li><a href="{{ siteUrl("/bots")|e('html_attr') }}">Known bots</a></li>
                        <li><a href="{{ siteUrl("/types")|e('html_attr') }}">Types</a></li>
                        <li><a href="{{ siteUrl("/api")|e('html_attr') }}">API</a></li>
                        <li><a href="{{ siteUrl("/about")|e('html_attr') }}">About</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
        <!-- Piwik -->
        <script type="text/javascript" src="{{ siteUrl("/js/tracking.js")|e('html_attr') }}"></script>
        <script type="text/javascript" src="https://humanoids.be/stats/piwik.js" async defer></script>
        <noscript><p><img src="https://humanoids.be/stats/piwik.php?idsite=5" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    </body>
</html>
