{% set navitems = [ { "name": "Bot Types", "url": siteUrl("/types") }, { "name": "Known Bots", "url": siteUrl("/bots") }, { "name": "Submit Bot", "url": siteUrl("/submit") }, { "name": "Check User", "url": siteUrl("/check") }, { "name": "API", "url": siteUrl("/api") }, { "name": "About", "url": siteUrl("/about") } ] %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} - Twitch Bot Directory</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ siteUrl("/assets/twbs/bootstrap/bootstrap.min.css") }}" type="text/css">
        <link rel="stylesheet" href="{{ siteUrl("/fonts/font-awesome.min.css") }}" type="text/css">
        <script src="{{ siteUrl("/assets/components/jquery/jquery.js") }}"></script>
        <script src="{{ siteUrl("/assets/twbs/bootstrap/popper.min.js") }}"></script>
        <script src="{{ siteUrl("/assets/twbs/bootstrap/bootstrap.min.js") }}"></script>

        <link rel="icon" href="{{ siteUrl("favicon.png")|e('html_attr') }}" type="image/png" sizes="32x32">
        <link rel="icon" href="{{ siteUrl("img/favicon-16x16.png")|e('html_attr') }}" type="image/png" sizes="16x16">
        <link rel="icon" href="{{ siteUrl("img/android-chrome-144x144.png")|e('html_attr') }}" type="image/png" sizes="144x144">
        <link rel="apple-touch-icon" href="{{ siteUrl("img/apple-touch-icon.png")|e('html_attr') }}" type="image/png" sizes="152x152">
        <link rel="icon" href="{{ siteUrl("img/apple-touch-icon.png")|e('html_attr') }}" type="image/png" sizes="152x152">
        <link rel="icon" href="{{ siteUrl("img/icon.svg")|e('html_attr') }}" type="image/svg+xml" sizes="any">

        <link rel="mask-icon" href="{{ siteUrl("img/safari-pinned-tab.svg")|e('html_attr') }}" type="image/svg+xml" sizes="any" color="#F3D300">

        <meta name="msapplication-TileImage" content="{{ siteUrl("img/mstile-150x150.png")|e('html_attr') }}">
        <meta name="msapplication-TileColor" content="#9DA7EB">
        <meta name="theme-color" content="#9DA7EB">

        <link rel="search" href="{{ siteUrl('opensearch.xml')|e('html_attr') }}" type="application/opensearchdescription+xml" title="Check Bot">
        <link rel="api" href="{{ siteUrl('apis.json')|e('html_attr') }}" type="application/apis+json">

        {% block extraresources %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-light bg-light navbar-static-top navbar-expand-lg">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ baseUrl()|e('html_attr') }}" rel="home">
                        <img src="{{ siteUrl('img/icon.svg') }}" alt="Twitch Bot Directory">
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#main-nav" aria-expanded="false" aria-controls="main-nav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse d-print-none" id="main-nav">
                    <ul class="nav navbar-nav">
                        {% set cu = currentUrl(false) %}
                        {% for item in navitems %}
                            {%- spaceless %}
                            {%- set isCurrent = item.url == cu or item.url ~ '/' == cu -%}
                                <li  class="nav-item{% if isCurrent %} active{% endif %}">
                                    <a class="nav-link" href="{{ item.url|e('html_attr') }}">{{ item.name|e -}}
                                    {%- if isCurrent -%}
                                        <span class="sr-only">(current)</span>
                                    {%- endif %}</a>
                                </li>
                            {%- endspaceless %}
                        {%- endfor -%}
                    </ul>

                    <form class="form-inline ml-md-auto" method="GET" action="{{ urlFor('check')|e('html_attr') }}">
                        <div class="input-group">
                            <input type="search" class="form-control" required pattern="[a-zA-Z0-9_]+" spellcheck="false" id="search" name="username" placeholder="Username">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Check</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <main>
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                <p class="text-muted d-inline-block">This is an independent site not run by Twitch.</p>
                <nav class="d-inline-block d-print-none">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="{{ siteUrl("/bots")|e('html_attr') }}">Known bots</a></li>
                        <li class="list-inline-item"><a href="{{ siteUrl("/types")|e('html_attr') }}">Types</a></li>
                        <li class="list-inline-item"><a href="{{ siteUrl("/api")|e('html_attr') }}">API</a></li>
                        <li class="list-inline-item"><a href="{{ siteUrl("/about")|e('html_attr') }}">About</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
        <!-- Piwik -->
        <script type="text/javascript" src="{{ siteUrl("/js/tracking.js")|e('html_attr') }}"></script>
        <script type="text/javascript" src="https://humanoids.be/stats/piwik.js" async defer></script>
        <noscript><p><img src="https://humanoids.be/stats/piwik.php?idsite=5" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    </body>
</html>
