{% set navitems = [ { "name": "Known Bots", "url": siteUrl("/") }, { "name": "Submit Bot", "url": siteUrl("/submit") }, { "name": "Check User", "url": siteUrl("/check") }, { "name": "Types", "url": siteUrl("/types") }, { "name": "API", "url": siteUrl("/api") }, { "name": "About", "url": siteUrl("/about") } ] %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Twitch Bot Directory - {% block title %}{% endblock %}</title>

        <!-- Bootstrap -->
        <link href="{{ siteUrl("/assets/require.css") }}" rel="stylesheet" type="text/css">
        <script src="{{ siteUrl("/assets/require.js") }}"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="{{ siteUrl("/js/load-bootstrap.js") }}"></script>
        {% block extraresources %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ baseUrl()|e('html_attr') }}" rel="home">Twitch Bot Directory</a>
                </div>

                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="nav navbar-nav">
                        {% for item in navitems %}
                            {% set isCurrent = item.url == currentUrl(false) %}
                            <li {% if isCurrent %} class="active"{% endif %}>
                                <a href="{{ item.url|e('html_attr') }}">{{ item.name|e }}
                                {% if isCurrent %}
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
        <main class="container">
            {% block content %}{% endblock %}
        </main>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">This is an independent site not run by Twitch.</p>
            </div>
        </footer>
    </body>
</html>
