{% macro print(page, pageCount, extremePagesLimit, nearbyPagesLimit, extraParams) %}
<nav>
    {% if pageCount > 1 and page <= pageCount %}
        <ul class="pagination justify-content-center">
            {% spaceless %}
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page-1 }}{{ extraParams|default('') }}" aria-label="Previous" rel="prev">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                {% for i in range(1, extremePagesLimit) if(i < page - nearbyPagesLimit) %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}{{ extraParams|default('') }}"{% if i == 1 %} rel="start"{% endif %}>{{ i }}</a>
                    </li>
                {% endfor %}

                {% if extremePagesLimit + 1 < page - nearbyPagesLimit %}
                    <li class="disabled page-item"><a class="page-link" href="#" tabindex="-1">&hellip;</a></li>
                {% endif %}

                {% for i in range(page-nearbyPagesLimit, page-1) if(i > 0) %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}{{ extraParams|default('') }}"{% if i == 1 %} rel="start"{% endif %}>{{ i }}</a>
                    </li>
                {% endfor %}
            {% else %}
                <li class="disabled page-item">
                    <a class="page-link" href="#" aria-label="Previous" tabindex="-1">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            <li class="active page-item">
                <a class="page-link" href="?page={{ page }}" {% if page == 1 %} rel="start"{% endif %}>{{ page }}<span class="sr-only">(current)</span></a>
            </li>

            {% if page < pageCount %}
                {% for i in range(page+1, page+nearbyPagesLimit) if(i <= pageCount) %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}{{ extraParams|default('') }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {% if (pageCount - extremePagesLimit) > (page + nearbyPagesLimit) %}
                    <li class="disabled page-item"><a class="page-link" href="#" tabindex="-1">&hellip;</a></li>
                {% endif %}

                {% for i in range(pageCount-extremePagesLimit+1, pageCount) if(i > page+nearbyPagesLimit) %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}{{ extraParams|default('') }}">{{ i }}</a>
                    </li>
                {% endfor %}

                <li class="page-item">
                    <a class="page-link" href="?page={{ page+1 }}{{ extraParams|default('') }}" aria-label="Next" rel="next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="disabled page-item">
                    <a class="page-link" href="#" aria-label="Next" tabindex="-1">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
            {% endspaceless %}
        </ul>
    {% endif %}
</nav>
{% endmacro %}
