{%- macro status(value) -%}
{% if value -%}
<span class="glyphicon glyphicon-ok-sign status-ok" title="Yes"></span>
{%- elseif value is not null -%}
<span class="glyphicon glyphicon-remove-sign status-nok" title="No"></span>
{%- else -%}
<span class="glyphicon glyphicon-question-sign status-unknown" title="No data"></span>
{%- endif %}
{%- endmacro -%}
{%- macro table(set, id, active) -%}
{%- from _self import status -%}
{% set defaultVal = status(null) %}
<div class="table-responsive tab-pane{% if active %} active{% endif %}" role="tabpanel" id="{{ id|e('html_attr') }}">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Description</th>
                <th>Channel</th>
                <th>Following Count</th>
                <th>Bio</th>
                <th>Has VODs</th>
                <th>Offline</th>
                <th>Online</th>
                <th>Modded</th>
                <th>Following Channel</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
{% for s in set %}
            <tr>
                <td>{% if s.type == 0 -%}
                    <a href="https://twitch.tv/{{ s.name|e('url')|e('html_attr') }}" title="{{ s.name|e('html_attr') }} on Twitch" rel="external nofollow">{{ s.name|e }}</a>
                {%- else -%}
                    <a href="{{ urlFor('bot', { name: s.name }) }}" title="{{ s.name|e('html_attr') }} in the Twitch Bots Directory">{{ s.name|e }}</a>
                {%- endif %}</td>
                <td>{% spaceless %}
                    {% if s.description matches '/^\\d+$/' %}
                        <a href="{{ urlFor('type', { id: s.description})|e('html_attr') }}">{{ s.description|e }}</a>
                    {% else %}
                        {{ s.description|e }}
                    {% endif %}
                {% endspaceless %}</td>
                <td>{% if s.channel is not empty %}<a href="https://twitch.tv/{{ s.channel|e('url')|e('html_attr') }}" rel="external nofollow">{{ s.channel|e }}</a>{% else %}{{ defaultVal }}{% endif %}</td>
                <td><a href="https://twitch.tv/{{ s.name|e('url')|e('html_attr') }}/following" rel="external nofollow">{{ s.following|default(defaultVal) }}</a></td>
                <td>{{ s.bio|default(defaultVal) }}</td>
                <td><a href="https://www.twitch.tv/{{ s.name|e('url')|e('html_attr') }}/videos/all" rel="external nofollow">{{ status(s.vods) }}</a></td>
                <td>{{ status(s.offline) }}</td>
                <td>{{ status(s.online) }}</td>
                <td><a href="https://twitchstuff.3v.fi/mods/{{ s.name|e('url')|e('html_attr') }}" rel="external nofollow">{{ status(s.ismod) }}</a></td>
                <td>{{ status(s.following_channel) }}</td>
                <td>{{ s.score }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{%- endmacro -%}
