{% import "_alerts.twig" as alerts %}
{% import "_type.twig" as typeUtils %}
{% extends "_base.twig" %}
{% block title %}API{% endblock %}
{% block extraresources %}
<link rel="canonical" href="{{ canonicalUrl }}about">
<link rel="stylesheet" type="text/css" href="{{ siteUrl("/css/json.css") }}">
{% endblock %}
{% block content %}
<h1>API Access</h1>
<p>All the API endpoints are on the base URL <code>{{apiUrl}}/v2/</code>. All endpoints only accept GET requests. The API always returns JSON. Feel free to reuse data returned by this API in your own services and APIs, however please consider contributing relevant data back to this service. All endpoints with a more or less static dataset send an expiration header indicating how long the data is at least expected to be valid. These will be adjusted according to real-world values. If your HTTP library does not honor the <code>Expires</code> header, please honor it manually.</p>
<p>All <code>_links</code> are also sent in the <code>Link</code> header.</p>
{#}<section>
    <h2 id="libraries">Libraries</h2>
    <p>For back-end JS developers there are a few pre-built packages on NPM to get data via API:</p>
    <dl class="dl-horizontal">
        <dt><a href="https://www.npmjs.com/package/twitchbots-base">twitchbots-base</a></dt>
        <dd>A very basic API implementation with caching.</dd>
        <dt><a href="https://www.npmjs.com/package/jetpack-twitchbots">jetpack-twitchbots</a></dt>
        <dd>Module for the Firefox Add-on SDK.</dd>
        <dt><a href="https://www.npmjs.com/package/twitchbots-node">twitchbots-node</a></dt>
        <dd>Ready to use API consumer for node projects.</dd>
    </dl>
</section>#}
<section>
    <h2 id="errors">Errors</h2>
    <p>The API returns error codes whenever appropriate, like for example invalid parameters. If there are special cases where errors get thrown that's documented in the "Response" section of an endpoint. Some errors will return JSON specifying what went wrong in the following form:</p>
    {{ "{ \"error\": \"Invalid offset specified\", \"code\": 400 }"|geshi('javascript') }}
</section>
<section>
    <h2 id="endpoints">Endpoints</h2>
    <section>
        <h3 id="bot_id">/bot/:id</h3>
        <p>Replace <code>:id</code> with the Twitch ID of the user to check.</p>
        <section>
            <h4>Response</h4>
            <p>Responds with a 404 error if the user is not a bot. <code>type</code> is <code>null</code> if unknown.</p>
            <code>GET {{apiUrl}}/v2/bot/19264788</code>
{{ "{
    \"id\": \"19264788\",
    \"username\": \"nightbot\",
    \"type\": 1,
    \"channelID\": null,
    \"channelName\": null,
    \"lastUpdate\": \"1994-11-05T13:15:30Z\",
    \"_links\": {
        \"canonical\": \"#{apiUrl}/v2/bot/nightbot\",
        \"type\": \"#{apiUrl}/v2/type/1\",
        \"alternate\": \"#{canonicalUrl}bots/nightbot\",
        \"help\": \"#{canonicalUrl}api#bot_id\"
    }
}"|geshi('javascript') }}</section>
</section>
    <h3 id="bot">/bot</h3>
    <p>Returns all known bots.</p>
    <section>
        <h4>Parameters</h4>
        <dl class="row">
            <dt class="col-4"><code>offset</code></dt>
            <dd class="col-8">Offset of items, 0 by default</dd>
            <dt class="col-4"><code>limit</code></dt>
            <dd class="col-8">Maximum amount of items to return, 100 by default</dd>
            <dt class="col-4"><code>type</code></dt>
            <dd class="col-8">Optionally only return bots of the given type ID. -1 returns all bots without a type.</dd>
            <dt class="col-4"><code>inactive</code></dt>
            <dd class="col-8">When set to 1 or similar includes bots with inactive types in the response. Ignored when type is set.</dd>
            <dt class="col-4"><code>multiChannel</code></dt>
            <dd class="col-8">When set to 1 or similar only returns bots that may be in multiple channels</dd>
            <dt class="col-4"><code>ids</code></dt>
            <dd class="col-8">Comma separated list of IDs to check. At most 100 IDs are considered per request.</dd>
        </dl>
    </section>
    <section>
        <h4>Response</h4>
        <code>GET {{apiUrl}}/v2/bot</code>
{{ "{
    \"bots\": [
        {
            \"id\": \"19264788\",
            \"username\": \"nightbot\",
            \"type\": 1,
            \"channelID\": null,
            \"channelName\": null,
            \"lastUpdate\": \"1994-11-05T13:15:30Z\",
            \"_links\": {
                \"canonical\": \"#{apiUrl}/v2/bot/nightbot\"
                \"type\": \"#{apiUrl}/v2/type/1\",
                \"alternate\": \"#{canonicalUrl}bots/nightbot\",
                \"help\": \"#{canonicalUrl}api#bot_id\"
            }
        },
        ...
    ],
    \"total\": 130,
    \"_links\": {
        \"next\": \"#{apiUrl}/v2/bot?offset=100&limit=100\",
        \"prev\": null,
        \"canonical\": \"#{apiUrl}/v2/bot?offset=0&limit=100\",
        \"alternate\": \"#{canonicalUrl}bots\",
        \"help\": \"#{canonicalUrl}api#bot\"
    }
}"|geshi('javascript') }}
            <code>GET {{apiUrl}}/v2/bot?type=1</code>
{{ "{
    \"bots\": [
        {
            \"id\": \"19264788\",
            \"username\": \"nightbot\",
            \"type\": 1,
            \"channelName\": null,
            \"channelID\": null,
            \"lastUpdate\": \"1994-11-05T13:15:30Z\",
            \"_links\": {
                \"canonical\": \"#{apiUrl}/v2/bot/nightbot\",
                \"type\": \"#{apiUrl}/v2/type/1\",
                \"alterante\": \"#{canonicalUrl}bots/nightbot\",
                \"help\": \"#{canonicalUrl}api#bot_id\"
            }
        }
    ],
    \"total\": 1,
    \"_links\": {
        \"next\": null,
        \"prev\": null,
        \"canonical\": \"#{apiUrl}/v2/bot?limit=100&type=1&offset=0\",
        \"type\": \"#{apiUrl}/v2/type/1\",
        \"alternate\": \"#{canonicalUrl}bots\",
        \"help\": \"#{canonicalUrl}api#bot\"
    }
}"|geshi('javascript') }}
            <code>GET {{apiUrl}}/v2/bot?bots=nightbot</code>
            <p>Note that the <code>next</code> link is not always <code>null</code> when there is no next page, simply because the back-end doesn't know how many results there will be in total.</p>
{{ "{
    \"bots\": [
        {
            \"id\": \"19264788\",
            \"username\": \"nightbot\",
            \"type\": 1,
            \"channelName\": null,
            \"channelID\": null,
            \"lastUpdate\": \"1994-11-05T13:15:30Z\",
            \"_links\": {
                \"canonical\": \"#{apiUrl}/v2/bot/nightbot\",
                \"type\": \"#{apiUrl}/v2/type/1\",
                \"alternate\": \"#{canonicalUrl}bots/nightbot\",
                \"help\": \"#{canonicalUrl}api#bot_id\"
            }
        }
    ],
    \"total\": 1,
    \"_links\": {
        \"next\": null,
        \"prev\": null,
        \"canonical\": \"#{apiUrl}/v2/bot?ids=19264788&limit=100&offset=0\",
        \"alternate\": \"#{canonicalUrl}bots\",
        \"help\": \"#{canonicalUrl}api#bot\"
    }
}"|geshi('javascript') }}
        </section>
    </section>
    <section>
        <h3 id="type_id">/type/:id</h3>
        <p>Replace <code>:id</code> with the id of the type you want to get.</p>
        <section>
            <h4>Response</h4>
            <p>Values for the <code>businessModel</code> key (number or null):</p>
            <ol start="0">
            {%- for i in 0..3 -%}
                <li>{{ typeUtils.businessModel(i) }}</li>
            {%- endfor -%}
            </ol>
            <p>Values for the <code>apiVersion</code> key (number or null):</p>
            <ol start="0">
            {%- for i in 0..5 -%}
                <li>{{ typeUtils.apiVersion(i) }}</li>
            {%- endfor -%}
            </ol>
            <code>GET {{apiUrl}}/v2/type/1</code>
{{ "{
    \"id\": 1,
    \"name\": \"Nightbot\",
    \"multiChannel\": true,
    \"url\": \"https://www.nightbot.tv\",
    \"lastUpdate\": \"1994-11-05T13:15:30Z\",
    \"description\": \"Nightbot, alright\",
    \"managed\": true,
    \"customUsername\": true,
    \"channelsEstimate\": 900000,
    \"businessModel\": 1,
    \"hasFreeTier\": true,
    \"apiVersion\": null,
    \"sourceCodeURL\": null,
    \"commandsURL\": null,
    \"active\": true,
    \"_links\": {
        \"canonical\": \"#{apiUrl}/v2/type/1\",
        \"bots\": \"#{apiUrl}/v2/bot?type=1\",
        \"alternate\": \"#{canonicalUrl}types/1\",
        \"help\": \"#{canonicalUrl}api#type_id\"
    }
}"|geshi('javascript') }}
        </section>
    </section>
    <section>
        <h3 id="type">/type</h3>
        <p>Returns a list of all active types by default.</p>
        <section>
            <h4>Parameters</h4>
            <dl class="row">
                <dt class="col-4"><code>offset</code></dt>
                <dd class="col-8">Offset of items, 0 by default</dd>
                <dt class="col-4"><code>limit</code></dt>
                <dd class="col-8">Maximum amount of items to return, 100 by default</dd>
                <dt class="col-4"><code>inactive</code></dt>
                <dd class="col-8">When set to 1 or similar includes inactive types in the response</dd>
                <dt class="col-4"><code>ids</code></dt>
                <dd class="col-8">Comma separated list of IDs to get. At most 100 IDs are considered per request.</dd>
            </dl>
        </section>
        <section>
            <h4>Response</h4>
            <code>GET {{apiUrl}}/v2/type</code>
{{ "{
    \"types\": [
        {
            \"id\": 1,
            \"name\": \"Nightbot\",
            \"multiChannel\": true,
            \"url\": \"https://www.nightbot.tv\",
            \"lastUpdate\": \"1994-11-05T13:15:30Z\",
            \"description\": \"Nightbot, alright\",
            \"managed\": true,
            \"customUsername\": true,
            \"channelsEstimate\": 900000,
            \"businessModel\": 1,
            \"hasFreeTier\": true,
            \"apiVersion\": null,
            \"sourceCodeURL\": null,
            \"commandsURL\": null,
            \"active\": true,
            \"_links\": {
                \"canonical\": \"#{apiUrl}/v2/type/1\",
                \"bots\": \"#{apiUrl}/v2/bot?type=1\",
                \"alternate\": \"#{canonicalUrl}types/1\",
                \"help\": \"#{canonicalUrl}api#type_id\"
            }
        }
    ],
    \"_links\": {
        \"next\": null,
        \"prev\": null,
        \"canonical\": \"#{apiUrl}/v2/type?limit=100&offset=0\",
        \"alternate\": \"#{canonicalUrl}types\",
        \"help\": \"#{canonicalUrl}api#type\"
    }
}"|geshi('javascript') }}
        </section>
    </section>
    <section>
        <h3 id="channelid_bots">/channel/:channelID/bots</h3>
        <p>Returns a list of bots active in the channel given by the <code>channelID</code>. This does not include all possible bots active in a channel and there is no full record of that in the data set. This is primarily based on the channel field of a bot, which may also be set for bots that can be in multiple channels.</p>
        <section>
            <h4>Parameters</h4>
            <dl class="row">
                <dt class="col-4"><code>offset</code></dt>
                <dd class="col-8">Offset of items, 0 by default</dd>
                <dt class="col-4"><code>limit</code></dt>
                <dd class="col-8">Maximum amount of items to return, 100 by default</dd>
            </dl>
        </section>
        <section>
            <h4>Response</h4>
            <code>GET {{apiUrl}}/v2/channel/72084450/bots</code>
{{ "{
    \"bots\": [
        {
            \"id\": \"85471494\",
            \"name\": \"butler_of_ec0ke\",
            \"type\": 23,
            \"channelName\": \"ec0ke\",
            \"channelID\": \"720844850\",
            \"lastUpdate\": \"1994-11-05T13:15:30Z\",
            \"_links\": {
                \"canonical\": \"#{apiUrl}/v2/bot/85471494\",
                \"type\": \"#{apiUrl}/v2/type/23\",
                \"alternate\": \"#{canonicalUrl}/bots/butler_of_ec0ke\",
                \"help\": \"#{canonicalUrl}api#bot_id\"
            }
        }
    ],
    \"_links\": {
        \"next\": null,
        \"prev\": null,
        \"canonical\": \"#{apiUrl}/v2/channel/72084450/bots?limit=100&offset=0\",
        \"help\": \"#{canonicalUrl}api#channelid_bots\"
    }
}"|geshi('javascript') }}
        </section>
    </section>
    <section>
        <h2 id="example_usage">Example Usage</h2>
        <div class="list-group">
            <a href="https://github.com/freaktechnik/twitch-provider" rel="external noopener" title="freaktechnik/twitch-provider" class="list-group-item-action">Twitch Chat Provider for Instantbird</a>
        </div>
    </section>
</section>
{% endblock %}
