{% import "_panels.twig" as panels %}
{% extends "_base.twig" %}
{% block title %}Check a user{% endblock %}
{% block extraresources %}
<link rel="canonical" href="{{ canonicalUrl }}check{% if username is not empty %}?username={{ username|e('html_attr') }}{% endif %}">
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Check a user</h1>
</div>
<p>Get the bot status for a specific username.</p>
<form class="form-group" method="POST">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Username" name="username" required pattern="[a-zA-Z0-9_]+" value="{{ username|e }}">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Check</button>
        </span>
    </div>
</form>
{% if username is not empty %}
    {% if bot is not empty %}
        {{ panels.bot(bot) }}
    {% else %}
        {{ panels.nobot(username) }}
    {% endif %}
{% endif %}
{% endblock %}
