{% extends "_base.twig" %}
{% block title %}Error {{code}}: {{name}}{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Error: {{code}} {{name}}</h1>
</div>
<p class="lead">{{message}}</p>
{% endblock %}
