{% extends "_base.twig" %}
{% set description = 'Twitch does not offer a distinction between service bots and normal users. This site tries to answer that question by collecting usernames of Twitch service and moderation bots. With the API the data from this directory can be re-used in other applications.' %}
{% block title %}Index{% endblock %}
{% block extraresources %}
<link rel="canonical" href="{{ canonicalUrl|e('html_attr') }}">
<meta name="description" content="{{ description|e('html_attr') }}">
<link rel="stylesheet" href="{{ siteUrl('css/jumbotron.css')|e('html_attr') }}" type="text/css">
<link rel="stylesheet" href="{{ siteUrl('css/splash.css')|e('html_attr') }}" type="text/css">
{% endblock %}
{% block content %}
</div>
<img src="{{ siteUrl("img/mobile.svg")|e('html_attr') }}" srcset="{{ siteUrl("img/splash.svg")|e('html_attr') }} 1100w, {{ siteUrl("img/mobile.svg")|e('html_attr') }} 1000w" sizes="(min-width: 1000px) 100vw, 1000px" id="splash">
<div class="container">
    <div class="jumbotron container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Twitch Service-Bot Directory</h1>
                <p class="lead">{{ description|e }}</p>
            </div>
        </div>
    </div>
    <section class="row">
        <div class="col-md-4 col-xs-12 text-center">
            <h1>{{ bots|e }}</h1>
            <p>Known bots</p>
            <a href="{{ urlFor('bots')|e('html_attr') }}" class="btn btn-lg btn-default" role="button">Check out bots</a>
        </div>
        <div class="col-md-4 col-xs-12 text-center">
            <h1>{{ types|e }}</h1>
            <p>Twitch bot types</p>
            <a href="{{ urlFor('types')|e('html_attr') }}" class="btn btn-lg btn-default" role="button">Browse bot types</a>
        </div>
        <div class="col-md-4 col-xs-12 text-center">
            <h1>&gt;10000</h1>
            <p>Unknown bots</p>
            <a href="{{ urlFor('submit')|e('html_attr') }}" class="btn btn-lg btn-default" role="button">Add your bot</a>
        </div>
    </section>
    <section class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <h2>Popular Types</h2>
            <div class="list-group">
                {% for type in topTypes %}
                <a href="{{ urlFor('type', { id: type.id })|e('html_attr') }}" class="list-group-item">{{ type.name|e }}</a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
