{% extends "_base.twig" %}
{% set description = 'Twitch does not offer a distinction between service bots and normal users. This site tries to answer that question by collecting usernames of Twitch service and moderation bots. With the API the data from this directory can be re-used in other applications.' %}
{% block title %}Index{% endblock %}
{% block extraresources %}
<link rel="canonical" href="{{ canonicalUrl|e('html_attr') }}">
<meta name="description" content="{{ description|e('html_attr') }}">
<link rel="stylesheet" href="{{ siteUrl('css/jumbotron.css')|e('html_attr') }}" type="text/css">
<link rel="stylesheet" href="{{ siteUrl('css/splash.css')|e('html_attr') }}" type="text/css">
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Find out if a Twitch user is a chat bot</h1>
    <p class="lead">{{ description|e }}</p>
</div>
<img src="{{ siteUrl("img/splash.svg")|e('html_attr') }}" id="splash">
<section>
    <div class="col-md-4 text-center jumbotron">
        <h1>{{ bots|e }}</h1>
        <p>Known bots</p>
        <a href="{{ urlFor('bots')|e('html_attr') }}" class="btn btn-lg btn-default" role="button">Check out bots</a>
    </div>
    <div class="col-md-4 text-center jumbotron">
        <h1>{{ types|e }}</h1>
        <p>Twitch bot types</p>
        <a href="{{ urlFor('types')|e('html_attr') }}" class="btn btn-lg btn-default" role="button">Browse bot types</a>
    </div>
    <div class="col-md-4 text-center jumbotron">
        <h1>1M+</h1>
        <p>Unknown bots</p>
        <a href="{{ urlFor('submit')|e('html_attr') }}" class="btn btn-lg btn-default" role="button">Add your bot</a>
    </div>
</section>
{% endblock %}
