{% extends "_base.twig" %}
{% block title %}Index{% endblock %}
{% block extraresources %}
<link rel="canonical" href="{{ canonicalUrl }}">
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Find out if a Twitch user is a chat bot</h1>
    <p class="lead">Twitch does not offer a distinction between service bots and normal users. This site tries to answer that question by collecting usernames of Twitch service and moderation bots. With the API the data from this directory can be re-used in other applications.</p>
</div>
<section>
    <div class="col-md-4 text-center jumbotron">
        <h1>{{ bots }}</h1>
        <p>Known bots</p>
        <a href="{{ urlFor('bots') }}" class="btn btn-lg btn-default" role="button">Check out bots</a>
    </div>
    <div class="col-md-4 text-center jumbotron">
        <h1>{{ types }}</h1>
        <p>Twitch bot types</p>
        <a href="{{ urlFor('types') }}" class="btn btn-lg btn-default" role="button">Browse bot types</a>
    </div>
    <div class="col-md-4 text-center jumbotron">
        <h1>1M+</h1>
        <p>Unknown bots</p>
        <a href="{{ urlFor('submit') }}" class="btn btn-lg btn-default" role="button">Add your bot</a>
    </div>
</section>
{% endblock %}
