{% extends "_base.twig" %}
{% block title %}Index{% endblock %}
{% block extraresources %}
<link rel="canonical" href="{{ canonicalUrl }}">
{% endblock %}
{% block content %}
<section>
    <div class="col-md-6 text-center">
        <a href="{{ urlFor('bots') }}">
            <p class="lead">{{ bots }}</p>
            <p>Known bots</p>
        </a>
    </div>
    <div class="col-md-6 text-center">
        <a href="{{ urlFor('types') }}">
            <p class="lead">{{ types }}</p>
            <p>Twitch bot types</p>
        </a>
    </div>
</section>
<!-- TODO action buttons for the two counters and a search action? -->
<div class="page-header">
    <h1>Find out if a Twitch user is a chat bot</h1>
    <p class="lead">Since Twitch accounts can't be marked as a bot there is many times no way to tell. But many accounts are used just as a chat bot. This service provides an API to find out who's a chat bot. All bots listed are service or moderator bots.</p>
</div>
{% endblock %}
