{% from "_table.twig" import table %}
{% extends "_base.twig" %}
{% block title %}Submissions{% endblock %}
{% block extraresources %}
<link rel="canonical" href="{{ canonicalUrl|e('html_attr') }}submissions">
<link rel="stylesheet" href="{{ siteUrl('/css/status.css')|e('html_attr') }}" type="text/css">
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Submission Queue</h1>
</div>
<form class="form-inline" method="POST" action="{{ urlFor('logout')|e('html_attr') }}">
    <div class="form-group">
        <label>Logged in as:</label>
        <output>{{ login|e }}</output>
    </div>
    <button class="btn btn-default" type="submit">Logout</button>
</form>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#submissions" role="tab" aria-controls="submissions">Submissions <span class="badge">{{ submissions|length }}</span></a>
    </li>
    <li role="presentation">
        <a href="#corrections" role="tab" aria-controls="corrections">Corrections <span class="badge">{{ corrections|length }}</span></a>
    </li>
</ul>
<div class="tab-content">
    {{ table(submissions, "submissions", true, true) }}
    {{ table(corrections, "corrections", false, true) }}
</div>
<script type="application/javascript" src="{{ siteUrl('/js/tabs.js')|e('html_attr') }}"></script>
{% endblock %}
