{% import "_alerts.twig" as alerts %}
{% if success %}
    {% set level = 'success' %}
    {% set message = "Your #{correction ? 'correction' : 'submission'} has been saved. We will review it as soon as possible." %}
{% elseif error == 1 %}
    {% set level = 'danger' %}
    {% set message = 'Something went wrong while submitting.' %}
{% elseif error == 2 %}
    {% set level = 'danger' %}
    {% set message = "The specified bot “#{username|e}” isn't a registered account on Twitch." %}
{% elseif error == 3 %}
    {% set level = 'info' %}
    {% set message = "The bot “#{username|e}” has already been submitted. Thank you for submitting it again, though!" %}
{% elseif error == 4 %}
    {% set level = 'danger' %}
    {% set message = "The bot “#{username|e}” isn't in our database." %}
{% elseif error == 5 %}
    {% set level = 'danger' %}
    {% set message = "Type matches the current type of the bot “#{username|e}”" %}
{% elseif error == 6 %}
    {% set level = 'danger' %}
    {% set message = "The specified channel “#{channel|e}” isn't a registered account on Twitch." %}
{% elseif error == 7 %}
    {% set level = 'danger' %}
    {% set message = "The bot username and channel name must not be the same." %}
{% elseif error == 8 %}
    {% set level = 'danger' %}
    {% set message = "Not all required fields were filled out." %}
{% elseif error == 9 %}
    {% set level = 'danger' %}
    {% set message = "Description can not be empty for new bot types" %}
{% endif %}
{% extends "_base.twig" %}
{% block title %}Submit bot{% endblock %}
{% block extraresources %}
<link rel="stylesheet" type="text/css" href="css/legend.css">
<link rel="canonical" href="{{ canonicalUrl }}submit">
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Submit a new bot</h1>
</div>
<p class="lead">If you know about a Twitch account that is used as a helpful chat bot, please tell us about it with the form below and we'll review the information. If we've got wrong data, please switch to "Correction" and report what's right.</p>
<p>All fields unless marked differently are required.</p>
{{ alerts.alert(level, message) }}
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" method="post" action="lib/submit" id="submit-form">
            <fieldset class="form-group">
                <legend class="col-sm-2 control-label">Submission Type</legend>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="submission-type" value="0" id="new-bot"{% if not correction %} checked{% endif %}>
                        New Bot
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="submission-type" value="1" id="correction"{% if correction %} checked{% endif %}>
                        Correction
                    </label>
                </div>
            </fieldset>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Twitch Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="{{ username|e('html_attr') }}" required pattern="[a-zA-Z0-9_]+" autofocus>
                    <p class="help-block">The username the bot uses in Twitch chat.</p>
                </div>
            </div>
            <div class="form-group">
                <label for="existing-type" class="col-sm-2 control-label">Bot Type</label>
                <div class="col-sm-10">
                    <select class="form-control" name="type" id="existing-type">
                        <option value="0"{% if type == 0 %} selected{% endif %}>New type&hellip;</option>
                        {% for t in types %}
                            <option value="{{ t.id|e('html_attr') }}"{% if type == t.id %} selected{% endif %}>{{ t.name|e }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group" id="bottype"{% if type|default(0) != 0 %} hidden{% endif %}>
                <label for="type" class="col-sm-2 control-label">New Type Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control col-sm-10" id="type" name="description" placeholder="Type" value="{{ channel|e('html_attr') }}"{% if type|default(0) != 0 %} disabled{% else %} required{% endif %}>
                    <p class="help-block">Describe the bot type, normally the name of the software that runs it and if possible a link to the website of it. In case of a bot hosted by a thirdparty this is the name and URL of their site.</p>
                </div>
            </div>
            <div class="form-group">
                <label for="channel" class="col-sm-2 control-label">Example Channel (optional)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control col-sm-10" id="channel" name="channel" placeholder="Channel Name"  value="{{ channel|e('html_attr') }}" pattern="[a-zA-Z0-9_]+">
                    <p class="help-block">A channel in whose chat this bot is usually in.</p>
                </div>
            </div>
            <div class="form-group" hidden>
                <input type="hidden" value="{{ token|e('html_attr') }}" name="token">
                <input type="hidden" value="PUT" name="_METHOD">
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <script src="js/submit.js"></script>
        </form>
    </div>
</div>
{% endblock %}
