{% extends "_base.twig" %}
{% block title %}Submissions{% endblock %}
{% block extraresources %}
<link rel="canonical" href="{{ canonicalUrl }}submissions">
{% endblock %}
{%block content %}
<div class="page-header">
    <h1>Submission Queue</h1>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Description</th>
                <th>Submission Type</th>
                <th>Channel</th>
                <th>Offline</th>
                <th>Online</th>
                <th>Modded</th>
                <th>Approve</th>
                <th>Reject</th>
            </tr>
        </thead>
        <tbody>
{% for s in submissions %}
            <tr>
                <td>{% if s.type == 0 %}
<a href="https://twitch.tv/{{ s.name|e('url')|e('html_attr') }}/profile" title="{{ s.name|e('html_attr') }} on Twitch" rel="external nofollow">{{ s.name|e }}</a>
{% else %}
<a href="{{ urlFor('bot', { name: s.name }) }}" title="{{ s.name|e('html_attr') }} in the Twitch Bots Directory">{{ s.name|e }}</a>
{% endif %}</td>
                <td>{% if s.description matches '/^\\d+$/' %}
                    <a href="{{ urlFor('type', { id: s.description})|e('html_attr') }}">{{ s.description|e }}</a>
                {% else %}
                    {{ s.description|e }}
                {% endif %}</td>
                <td>{{ s.type == 0 ? "New" : "Correction" }}</td>
                <td>{% if s.channel is not empty %} <a href="https://twitch.tv/{{ s.channel|e('url')|e('html_attr') }}/profile" rel="external nofollow">{{ s.channel|e }}</a>{% endif %}</td>
                <td>{{ s.offline|default("?") }}</td>
                <td>{{ s.online|default("?") }}</td>
                <td>{{ s.ismod|default("?") }}</td>
                <td><form>
                    <input type="hidden" name="id" value="{{ s.id }}">
                    <button disabled type="submit" class="btn btn-primary btn-xs">Approve</button>
                </form></td>
                <td><form>
                    <input type="hidden" name="id" value="{{ s.id }}">
                    <button disabled type="submit" class="btn btn-default btn-xs">Reject</button>
                </form></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
