{% extends "_base.twig" %}
{% block title %}Submissions{% endblock %}
{% block extraresources %}
<link rel="canonical" href="{{ canonicalUrl }}submissions">
{% endblock %}
{%block content %}
<div class="page-header">
    <h1>Submission Queue</h1>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Description</th>
                <th>Submission Type</th>
                <th>Channel</th>
                <th>Offline</th>
                <th>Online</th>
                <th>Approve</th>
                <th>Reject</th>
            </tr>
        </thead>
        <tbody>
{% for s in submissions %}
            <tr>
                <td><a href="https://twitch.tv/{{ s.name|e('url')|e('html_attr') }}/profile" title="{{ s.name|e('html_attr') }} on Twitch" rel="external">{{ s.name|e }}</a></td>
                <td>{{ s.description|e }}</td>
                <td>{{ s.type == 0 ? "New" : "Correction" }}</td>
                <td>{% if s.channel is not empty %} <a href="https://twitch.tv/{{ s.channel|e('url')|e('html_attr') }}/profile" rel="external">{{ s.channel|e }}</a>{% endif %}</td>
                <td>{{ s.offline|default("?") }}</td>
                <td>{{ s.online|default("?") }}</td>
                <td><form>
                    <input type="hidden" name="id" value="{{ s.id }}">
                    <button disabled type="submit" class="btn btn-primary btn-xs">Approve</button>
                </form></td>
                <td><form>
                    <input type="hidden" name="id" value="{{ s.id }}">
                    <button disabled type="submit" class="btn btn-default btn-xs">Reject</button>
                </form></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
