{% from "_table.twig" import table %}
{% extends "_base.twig" %}
{% block title %}Submissions{% endblock %}
{% block extraresources %}
<link rel="canonical" href="{{ canonicalUrl }}submissions">
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Submission Queue</h1>
</div>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#submissions" role="tab" aria-controls="submissions">Submissions <span class="badge">{{ submissions|length }}</span></a>
    </li>
    <li role="presentation">
        <a href="#corrections" role="tab" aria-controls="corrections">Corrections <span class="badge">{{ corrections|length }}</span></a>
    </li>
</ul>
<div class="tab-content">
    {{ table(submissions, "submissions", true) }}
    {{ table(corrections, "corrections", false) }}
</div>
<script type="application/javascript" src="{{ siteUrl('/js/tabs.js')|e('html_attr') }}"></script>
{% endblock %}
