{% import "_alerts.twig" as alerts %}
{% if success %}
    {% set level = 'success' %}
    {% set message = "Your #{correction ? 'correction' : 'submission'} has been saved. We will review it as soon as possible." %}
{% elseif error == 1 %}
    {% set level = 'danger' %}
    {% set message = 'Something went wrong while submitting. Try submitting again.' %}
{% elseif error == 2 %}
    {% set level = 'danger' %}
    {% set message = "The specified bot “#{username|e}” isn't a registered account on Twitch." %}
{% elseif error == 3 %}
    {% set level = 'info' %}
    {% set message = "The bot “#{username|e}” has already been submitted. Thank you for submitting it again, though!" %}
{% elseif error == 4 %}
    {% set level = 'danger' %}
    {% set message = "The bot “#{username|e}” isn't in our database." %}
{% elseif error == 5 %}
    {% set level = 'danger' %}
    {% set message = "Info is identical to the current one for the bot “#{username|e}”" %}
{% elseif error == 6 %}
    {% set level = 'danger' %}
    {% set message = "The specified channel “#{channel|e}” isn't a registered account on Twitch." %}
{% elseif error == 7 %}
    {% set level = 'danger' %}
    {% set message = "The bot username and channel name must not be the same." %}
{% elseif error == 8 %}
    {% set level = 'danger' %}
    {% set message = "Not all required fields were filled out." %}
{% elseif error == 9 %}
    {% set level = 'danger' %}
    {% set message = "Description can not be empty for new bot types" %}
{% elseif error == 10 %}
    {% set level = 'danger' %}
    {% set message = "Unused error." %}
{% elseif error == 11 %}
    {% set level = 'info' %}
    {% set message = "A correction with identical username (#{username|e}) and new type description already exists." %}
{% elseif error == 12 %}
    {% set level = 'danger' %}
    {% set message = "The user specified as channel the bot is in, is known to be a bot. If that is wrong, please <a href='#{ siteUrl('/about')|e('html_attr') }'>contact us</a>." %}
{% elseif error == 13 %}
    {% set level = 'danger' %}
    {% set message = "The Twitch user given as bot is already registered as channel to at least one bot in the database. If that's wrong, please <a href='#{ siteUrl('/about')|e('html_attr') }'>contact us</a>." %}
{% elseif error == 14 %}
    {% set level = 'danger' %}
    {% set message = "The Twitch user given as bot is verified to be a real human. They can not be added as a bot." %}
{% elseif error %}
    {% set level = 'danger' %}
    {% set message = "Unknown error with the code #{error}." %}
{% endif %}
{% extends "_base.twig" %}
{% block title %}Submit bot{% endblock %}
{% block extraresources %}
<link rel="stylesheet" type="text/css" href="{{ siteUrl("/css/legend.css") }}">
<link rel="canonical" href="{{ canonicalUrl }}submit">
{% endblock %}
{% block content %}
<h1>Submit a new bot</h1>
<p class="lead">If you know about a Twitch account that is used as a helpful chat bot, please tell us about it with the form below and we'll review the information. If we've got wrong data, please switch to "Correction" and report what's right.</p>
<p>All fields unless marked differently are required.</p>
{{ alerts.alert(level, message) }}
<div class="card">
    <div class="card-body">
        <form class="form-row" method="post" action="lib/submit" id="submit-form" data-clientid="{{ clientId }}">
            <fieldset class="form-group">
                <legend class="col-md-2 ">Submission Type</legend>
                <div class="col-md-10">
                    <label class="radio-inline">
                        <input type="radio" name="submission-type" value="0" id="new-bot"{% if not correction %} checked{% endif %}>
                        New Bot
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="submission-type" value="1" id="correction"{% if correction %} checked{% endif %}>
                        Correction
                    </label>
                </div>
            </fieldset>
            <div class="form-group">
                <label for="username" class="col-md-2 ">Bot's Twitch Username</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="{{ username|e('html_attr') }}" required pattern="[a-zA-Z0-9_]+" autofocus spellcheck="false">
                    <p class="form-text text-muted">The username the bot uses in Twitch chat.</p>
                </div>
            </div>
            <div class="form-group">
                <label for="existing-type" class="col-md-2 ">Bot Type</label>
                <div class="col-md-10">
                    <select class="form-control" name="type" id="existing-type">
                        <option value="0"{% if type == 0 %} selected{% endif %}>New type&hellip;</option>
                        {% for t in types %}
                            <option value="{{ t.id|e('html_attr') }}"{% if type == t.id %} selected{% endif %}>{{ t.name|e }}</option>
                        {% endfor %}
                    </select>
                    <p class="form-text text-muted">Try to select an existing type, only choose a new type if you can't find any matching type in the list. Selecting an existing type makes it easier for us to verify your submission.</p>
                </div>
            </div>
            <div class="form-group" id="bottype"{% if type|default(0) != 0 %} hidden{% endif %}>
                <label for="type" class="col-md-2 ">New Type Description</label>
                <div class="col-md-10">
                    <input type="text" class="form-control col-md-10" id="type" name="description" placeholder="Type" value="{{ description|e('html_attr') }}"{% if type|default(0) != 0 %} disabled{% else %} required{% endif %} spellcheck="false">
                    <p class="form-text text-muted">Describe the bot type, normally the name of the software that runs it and if possible a link to the website of it. In case of a bot hosted by a thirdparty this is the name and URL of their site.</p>
                </div>
            </div>
            <div class="form-group" id="channel-group"{% if correction %} hidden{% endif %}>
                <label for="channel" class="col-md-2 ">Example Channel (optional)</label>
                <div class="col-md-10">
                    <input type="text" class="form-control col-md-10" id="channel" name="channel" placeholder="Channel Name"  value="{{ channel|e('html_attr') }}" pattern="[a-zA-Z0-9_]+" spellcheck="false">
                    <p class="form-text text-muted">A channel that uses this bot. The channel of the bot is not an example channel.</p>
                </div>
            </div>
            <div class="form-group" hidden>
                <input type="hidden" value="{{ token|e('html_attr') }}" name="token">
                <input type="hidden" value="PUT" name="_METHOD">
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <script src="js/submit.js"></script>
        </form>
    </div>
</div>
{% endblock %}
