{% import "_pagination.twig" as pagination %}
{% extends "_base.twig" %}
{% block title %}Known bot types{% endblock %}
{% block extraresources %}
{% if page == 1 %}
<link rel="canonical" href="https://twitchbots.info/types">
{% else %}
<link rel="canonical" href="https://twitchbots.info/types/?page={{page}}">
{% endif %}
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>All known bot types</h1>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Multi-channel</th>
                <th>Bot user count</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td><a href="{{ urlFor('type', { id: type.id }) }}">{{ type.name|e }}</a></td>
                <td>{% if type.multichannel %}Yes{% else %}No{% endif %}</td>
                <td>{{ type.count|e }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{{ pagination.print(page, pageCount, 3, 2) }}
{% endblock %}
