{% import "_pagination.twig" as pagination %}
{% import "_table.twig" as table %}
{% import "_type.twig" as typeUtils %}
{% extends "_base.twig" %}
{% block title %}{{ type.name|e }}{% endblock %}
{% block extraresources %}
{% if page == 1 %}
<link rel="canonical" href="{{ canonicalUrl }}types/{{ type.id }}">
{% else %}
<link rel="canonical" href="{{ canonicalUrl }}ypes/{{type.id }}?page={{page}}">
{% endif %}
<link rel="stylesheet" href="{{ siteUrl('/css/status.css')|e('html_attr') }}" type="text/css">
{% endblock %}
{% block content %}
<h1>{{ type.name|e }} and bots of this type</h1>
{% if type.description %}<p class="lead">{{ type.description }}</p>{% endif %}
{% if not type.enabled -%}
{%- import "_alerts.twig" as alerts -%}
{{ alerts.alert('warning', 'This bot type has been marked as inactive') }}
{%- endif -%}
<div class="row">
    <div class="col-lg-6 col-12">
        <dl class="row">
            {%- if type.enabled and type.url %}
            <dt class="col-4">Website</dt>
            <dd class="col-8"><a href="{{ type.url|e('html_attr') }}" rel="external nofollow noopener">{{ type.url|e }}</a></dd>
            {%- endif -%}
            {%- if type.sourceUrl %}
            <dt class="col-4">Source code</dt>
            <dd class="col-8"><a href="{{ type.sourceUrl|e('html_attr') }}" rel="external nofollow noopener">{{ type.sourceUrl|e }}</a></dd>
            {%- endif -%}
            {%- if type.commandsUrl %}
            <dt class="col-4">Commands</dt>
            <dd class="col-8"><a href="{{ type.commandsUrl|e('html_attr') }}" rel="external nofollow noopener">{{ type.commandsUrl|e }}</a></dd>
            {%- endif -%}
            {%- if type.payment is not null %}
            <dt class="col-4">Business model</dt>
            <dd class="col-8">{{ typeUtils.businessModel(type.payment) }}</dd>
            {% if not type.payment == 0 and not type.payment == 3 %}
            <dt class="col-4">Free tier</dt>
            <dd class="col-8">{{ table.status(type.hasFreeTier) }}</dd>
            {%- endif -%}
            {%- endif -%}
            {%- if type.customUsername is not null %}
            <dt class="col-4">Custom username</dt>
            <dd class="col-8">{{ table.status(type.customUsername) }}</dd>
            {%- endif %}
            <dt class="col-4">Local software</dt>
            <dd class="col-8">{{ table.status(not type.managed) }}</dd>
            <dt class="col-4">Instance per channel</dt>
            <dd class="col-8">{{ table.status(not type.multichannel) }}</dd>
            {%- if type.apiVersion is not null %}
            <dt class="col-4">API version</dt>
            <dd class="col-8">{{ typeUtils.apiVersion(type.apiVersion) }}</dd>
            {%- endif %}
            {%- if type.enabled and type.channelsEstimate is not null %}
            <dt class="col-4"><abbr title="Estimation of channels this bot is used in">Active channels</abbr></dt>
            <dd class="col-8">~{{ type.channelsEstimate|e }}</dd>
            {%- endif %}
        </dl>
    </div>
    <div class="col-lg-6 col-12 text-right">
        <p><a href="{{ urlFor('bots')|e('html_attr') }}?type={{ type.id|e('html_attr') }}" class="btn btn-secondary">Known Bot instances</a></p>
    </div>
</div>
<small>Type meta data is best-effort. Please report wrong information.</small>
{% endblock %}
