{% import "_pagination.twig" as pagination %}
{% import "_table.twig" as table %}
{% import "_type.twig" as typeUtils %}
{% extends "_base.twig" %}
{% block title %}{{ type.name|e }}{% endblock %}
{% block extraresources %}
{% if page == 1 %}
<link rel="canonical" href="{{ canonicalUrl }}types/{{ type.id }}">
{% else %}
<link rel="canonical" href="{{ canonicalUrl }}ypes/{{type.id }}?page={{page}}">
{% endif %}
<link rel="stylesheet" href="{{ siteUrl('/css/status.css')|e('html_attr') }}" type="text/css">
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>{{ type.name|e }} and bots of this type</h1>
</div>
{% if type.description %}<p class="lead">{{ type.description }}</p>{% endif %}
{% if not type.enabled -%}
{%- import "_alerts.twig" as alerts -%}
{{ alerts.alert('warning', 'This bot type has been marked as inactive') }}
{%- endif -%}
<dl class="dl-horizontal">
    {%- if type.enabled and type.url %}
    <dt>Website</dt>
    <dd><a href="{{ type.url|e('html_attr') }}" rel="external nofollow noopener">{{ type.url|e }}</a></dd>
    {%- endif -%}
    {%- if type.sourceUrl %}
    <dt>Source code</dt>
    <dd><a href="{{ type.sourceUrl|e('html_attr') }}" rel="external nofollow noopener">{{ type.sourceUrl|e }}</a></dd>
    {%- endif -%}
    {%- if type.commandsUrl %}
    <dt>Commands</dt>
    <dd><a href="{{ type.commandsUrl|e('html_attr') }}" rel="external nofollow noopener">{{ type.commandsUrl|e }}</a></dd>
    {%- endif -%}
    {%- if type.payment is not null %}
    <dt>Business model</dt>
    <dd>{{ typeUtils.businessModel(type.payment) }}</dd>
    {% if not type.payment == 0 and not type.payment == 3 %}
    <dt>Free tier</dt>
    <dd>{{ table.status(type.hasFreeTier) }}</dd>
    {%- endif -%}
    {%- endif -%}
    {%- if type.customUsername is not null %}
    <dt>Custom username</dt>
    <dd>{{ table.status(type.customUsername) }}</dd>
    {%- endif %}
    <dt>Local software</dt>
    <dd>{{ table.status(not type.managed) }}</dd>
    <dt>Instance per channel</dt>
    <dd>{{ table.status(not type.multichannel) }}</dd>
    {%- if type.apiVersion is not null %}
    <dt>API version</dt>
    <dd>{{ typeUtils.apiVersion(type.apiVersion) }}</dd>
    {%- endif %}
</dl>
<small>Type infromation is best-effort. Please report wrong information.</small>
<h2>Known Accounts</h2>
<div class="list-group">
    {% for bot in bots %}
    <a href="{{ urlFor('bot', { name: bot.name })|e('html_attr') }}" class="list-group-item">{{ bot.name|e }}</a>
    {% endfor %}
</div>
{{ pagination.print(page, pageCount, 3, 2) }}
{% if type.enabled and type.customUsername %}<p>The list is missing a {{ type.name|e }} bot user? <a href="{{ urlFor('submit') }}?type={{ type.id|e('url')|e('html_attr') }}">Submit a bot of this type</a>.</p>{% endif %}
{% endblock %}
