{% import "_pagination.twig" as pagination %}
{% extends "_base.twig" %}
{% block title %}{{ type.name|e }}{% endblock %}
{% block extraresources %}
{% if page == 1 %}
<link rel="canonical" href="{{ canonicalUrl }}types/{{ type.id }}">
{% else %}
<link rel="canonical" href="{{ canonicalUrl }}ypes/{{type.id }}?page={{page}}">
{% endif %}
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>{{ type.name|e }} and bots of this type</h1>
</div>
{% if type.description %}<p class="lead">{{ type.description }}</p>{% endif %}
<dl class="dl-horizontal">
    {% if type.enabled and type.url %}
    <dt>Website</dt>
    <dd><a href="{{ type.url|e('html_attr') }}" rel="external nofollow noopener">{{ type.url|e }}</a></dd>
    {% endif %}
    {% if not type.customUsername not null %}
    <dt>Custom username</dt>
    <dd>{% if type.customUsername %}Yes{% else %}No{% endif %}</dd>
    {% endif %}
    <dt>Local software</dt>
    <dd>{% if type.managed %}No{% else %}Yes{% endif %}</dd>
    <dt>One instance per channel</dt>
    <dd>{% if type.multichannel %}No{% else %}Yes{% endif %}</dd>
    {% endif %}
</dl>
<h2>Known Accounts</h2>
<div class="list-group">
    {% for bot in bots %}
    <a href="{{ urlFor('bot', { name: bot.name })|e('html_attr') }}" class="list-group-item">{{ bot.name|e }}</a>
    {% endfor %}
</div>
{{ pagination.print(page, pageCount, 3, 2) }}
{% if type.enabled %}<p>The list is missing a {{ type.name|e }} bot user? <a href="{{ urlFor('submit') }}?type={{ type.id|e('url')|e('html_attr') }}">Submit a bot of this type</a>.</p>{% endif %}
{% endblock %}
