{% import "_pagination.twig" as pagination %}
{% import "_table.twig" as table %}
{% extends "_base.twig" %}
{% block title %}{{ type.name|e }}{% endblock %}
{% block extraresources %}
{% if page == 1 %}
<link rel="canonical" href="{{ canonicalUrl }}types/{{ type.id }}">
{% else %}
<link rel="canonical" href="{{ canonicalUrl }}ypes/{{type.id }}?page={{page}}">
{% endif %}
<link rel="stylesheet" href="{{ siteUrl('/css/status.css')|e('html_attr') }}" type="text/css">
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>{{ type.name|e }} and bots of this type</h1>
</div>
{% if type.description %}<p class="lead">{{ type.description }}</p>{% endif %}
<dl class="dl-horizontal">
    {%- if type.enabled and type.url %}
    <dt>Website</dt>
    <dd><a href="{{ type.url|e('html_attr') }}" rel="external nofollow noopener">{{ type.url|e }}</a></dd>
    {%- endif -%}
    {%- if type.sourceUrl %}
    <dt>Source code</dt>
    <dd><a href="{{ type.sourceUrl|e('html_attr') }}" rel="external nofollow noopener">{{ type.sourceUrl|e }}</a></dd>
    {%- endif -%}
    {%- if type.commandsUrl %}
    <dt>Commands</dt>
    <dd><a href="{{ type.commandsUrl|e('html_attr') }}" rel="external nofollow noopener">{{ type.commandsUrl|e }}</a></dd>
    {%- endif -%}
    {%- if type.payment is not null %}
    <dt>Business model</dt>
    <dd>{% if type.payment == 0 %}Free{% elseif type.payment == 1 %}Lifetime license{% elseif type.payment == 2 %}Subscription{% elseif type.payment == 3 %}Transaction fees{% endif %}</dd>
    {% if not type.payment == 0 and not type.payment == 3 %}
    <dt>Free tier</dt>
    <dd>{{ table.status(type.hasFreeTier) }}</dd>
    {%- endif -%}
    {%- endif -%}
    {%- if type.customUsername is not null %}
    <dt>Custom username</dt>
    <dd>{{ table.status(type.customUsername) }}</dd>
    {%- endif %}
    <dt>Local software</dt>
    <dd>{{ table.status(not type.managed) }}</dd>
    <dt>Instance per channel</dt>
    <dd>{{ table.status(not type.multichannel) }}</dd>
    {%- if type.apiVersion is not null %}
    <dt>API version</dt>
    <dd>{% if type.apiVersion == 0 %}
        <span class="badge alert-danger">Justin.tv API</span>
    {%- elseif type.apiVersion == 1 %}
        <span class="badge alert-danger">Kraken v1</span>
    {%- elseif type.apiVersion == 2 %}
        <span class="badge alert-warning">Kraken v3</span>
    {%- elseif type.apiVersion == 3 %}
        <span class="badge alert-warning">Kraken v5</span>
    {%- elseif type.apiVersion == 4 %}
        <span class="badge">Helix</span>
    {%- elseif type.apiVersion == 5 %}
        <span class="badge alert-warning">TMI Chatters</span>
    {%- endif %}</dd>
    {%- endif %}
</dl>
<h2>Known Accounts</h2>
<div class="list-group">
    {% for bot in bots %}
    <a href="{{ urlFor('bot', { name: bot.name })|e('html_attr') }}" class="list-group-item">{{ bot.name|e }}</a>
    {% endfor %}
</div>
{{ pagination.print(page, pageCount, 3, 2) }}
{% if type.enabled %}<p>The list is missing a {{ type.name|e }} bot user? <a href="{{ urlFor('submit') }}?type={{ type.id|e('url')|e('html_attr') }}">Submit a bot of this type</a>.</p>{% endif %}
{% endblock %}
